# Domácí úkol 10
##

## Zadání 1

In [44]:
import pandas
zam_praha = pandas.read_csv("zam_praha.csv")
zam_plzen = pandas.read_csv("zam_plzeň.csv")
zam_liberec = pandas.read_csv("zam_liberec.csv")

In [45]:
zam_praha["mesto"] = "Praha"
zam_plzen["mesto"] = "Plzeň"
zam_liberec["mesto"] = "Liberec"

In [46]:
zamestnanci = pandas.concat([zam_praha, zam_plzen, zam_liberec], ignore_index = True)
zamestnanci

          jmeno    prijimeni   telefonni_cislo  cislo_zamestnance    mesto
0         Brian         Hall  +421 949 656 098                 30    Praha
1         Marta     Kolářová       730 456 163                 32    Praha
2          John      Moravec       725 092 179                 33    Praha
3      Dominika      Kopecká       722 747 626                 34    Praha
4        Marcel        Hájek  +421 902 928 669                 35    Praha
5        Milada    Hernandez       773 373 704                 38    Praha
6     Catherine       Bender       604 068 460                 40    Praha
7          Olga      Němcová  +421 914 172 243                 41    Praha
8       Jeffrey      Šťastný       607 628 821                 44    Praha
9        Kamila       Říhová  +421 948 396 069                 47    Praha
10      Jaromír       Miller  +421 912 615 902                 49    Praha
11  Christopher        Zeman  +421 948 150 084                 51    Praha
12     Karolína        Short       721 589 083                 53    Praha
13     Michelle      Vlčková  +421 41 720 7806                 54    Praha
14      Jeffrey     Pospíšil  +421 55 491 6940                 56    Praha
15     Ladislav       Blažek  +421 910 274 975                 57    Praha
16         John       Bailey       775 021 116                 58    Praha
17      William      Shelton  +421 47 745 8219                 60    Praha
18    Miroslava       Veselá       774 029 254                 62    Praha
19      William    Alexander  +421 949 106 724                 63    Praha
20     Kimberly         Bass  +421 912 169 840                 64    Praha
21       Nathan      Svoboda       728 710 923                 66    Praha
22        Luděk       Bartoš  +421 940 700 326                 69    Praha
23       Dillon        Black       734 300 978                 70    Praha
24       Robert         Říha       727 351 984                 72    Praha
25        Steve        Šimek       604 966 101                 74    Praha
26      Theresa     Kučerová  +421 48 528 0081                 76    Praha
27        Marta       Butler  +421 944 196 827                 78    Praha
28     Samantha    Kadlecová  +421 904 841 543                 80    Praha
29        Stacy  Pospíšilová       727 293 880                  3    Plzeň
30        Matěj         Král       770 787 377                  6    Plzeň
31       Amanda       Wilson  +421 52 656 7231                  7    Plzeň
32        Angel       Wilson  +421 52 135 2491                  8    Plzeň
33     Jindřich       Howell  +421 39 043 0948                 10    Plzeň
34    Alexander     Martinez       721 195 689                 13    Plzeň
35        Radim      Kopecký  +421 917 371 226                 16    Plzeň
36     Miroslav         Reed       774 829 074                 18    Plzeň
37       Emilie       Powell       731 380 539                 21    Plzeň
38       Nikola         Wade       726 763 154                 22    Plzeň
39    Katherine         Reed       726 214 968                 23    Plzeň
40        Kayla     Urbanová       737 772 985                 24    Plzeň
41        Roman       Moreno       722 284 985                 26    Plzeň
42     Bohumila        Smith       608 121 912                 27    Plzeň
43      Blažena        Smith  +421 51 828 2591                 28    Plzeň
44      Phillip         Malý       731 594 560                 29    Plzeň
45         Nela      Šťastná       728 454 176                 83  Liberec
46      Heather      Marková       604 404 522                 84  Liberec
47       Krista  Procházková  +421 50 444 5544                 85  Liberec
48     Jennifer        Brown       775 545 190                 86  Liberec
49    Ladislava    Blackwell  +421 913 487 200                 87  Liberec
50       Robert       Macias  +421 49 929 6856                 88  Liberec
51         Dana        Reyes  +421 904 153 942                 90  Liberec
52        Vasyl       Veselý       603 759 413                 92  Liberec
53        Randy       Veselý       777 149 125                 95  Liberec
54       Audrey        Allen  +421 908 839 506                 96  Liberec
55         Ivan       Bartoš       603 226 051                 99  Liberec

In [47]:
platy = pandas.read_csv("platy_2021_02.csv")

In [48]:
new_tab = pandas.merge( zamestnanci, platy, on = "cislo_zamestnance", how = "left")
new_tab

,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,mesto,plat
0,Brian,Hall,+421 949 656 098,30,Praha,33500.0
1,Marta,Kolářová,730 456 163,32,Praha,53000.0
2,John,Moravec,725 092 179,33,Praha,38400.0
3,Dominika,Kopecká,722 747 626,34,Praha,36800.0
4,Marcel,Hájek,+421 902 928 669,35,Praha,NaN
5,Milada,Hernandez,773 373 704,38,Praha,32600.0
6,Catherine,Bender,604 068 460,40,Praha,32800.0
7,Olga,Němcová,+421 914 172 243,41,Praha,49300.0
8,Jeffrey,Šťastný,607 628 821,44,Praha,52000.0
9,Kamila,Říhová,+421 948 396 069,47,Praha,40700.0
10,Jaromír,Miller,+421 912 615 902,49,Praha,58400.0
11,Christopher,Zeman,+421 948 150 084,51,Praha,37100.0
12,Karolína,Short,721 589 083,53,Praha,NaN
13,Michelle,Vlčková,+421 41 720 7806,54,Praha,NaN
14,Jeffrey,Pospíšil,+421 55 491 6940,56,Praha,39300.0
15,Ladislav,Blažek,+421 910 274 975,57,Praha,36800.0
16,John,Bailey,775 021 116,58,Praha,NaN
17,William,Shelton,+421 47 745 8219,60,Praha,NaN
18,Miroslava,Veselá,774 029 254,62,Praha,NaN
19,William,Alexander,+421 949 106 724,63,Praha,31400.0
20,Kimberly,Bass,+421 912 169 840,64,Praha,36900.0
21,Nathan,Svoboda,728 710 923,66,Praha,NaN
22,Luděk,Bartoš,+421 940 700 326,69,Praha,32600.0
23,Dillon,Black,734 300 978,70,Praha,52600.0
24,Robert,Říha,727 351 984,72,Praha,NaN
25,Steve,Šimek,604 966 101,74,Praha,49300.0
26,Theresa,Kučerová,+421 48 528 0081,76,Praha,55400.0
27,Marta,Butler,+421 944 196 827,78,Praha,52600.0
28,Samantha,Kadlecová,+421 904 841 543,80,Praha,57700.0
29,Stacy,Pospíšilová,727 293 880,3,Plzeň,54900.0
30,Matěj,Král,770 787 377,6,Plzeň,54800.0
31,Amanda,Wilson,+421 52 656 7231,7,Plzeň,36400.0
32,Angel,Wilson,+421 52 135 2491,8,Plzeň,47900.0
33,Jindřich,Howell,+421 39 043 0948,10,Plzeň,NaN
34,Alexander,Martinez,721 195 689,13,Plzeň,NaN
35,Radim,Kopecký,+421 917 371 226,16,Plzeň,34200.0
36,Miroslav,Reed,774 829 074,18,Plzeň,35400.0
37,Emilie,Powell,731 380 539,21,Plzeň,54200.0
38,Nikola,Wade,726 763 154,22,Plzeň,34400.0
39,Katherine,Reed,726 214 968,23,Plzeň,39000.0
40,Kayla,Urbanová,737 772 985,24,Plzeň,44200.0
41,Roman,Moreno,722 284 985,26,Plzeň,59600.0
42,Bohumila,Smith,608 121 912,27,Plzeň,45100.0
43,Blažena,Smith,+421 51 828 2591,28,Plzeň,38100.0
44,Phillip,Malý,731 594 560,29,Plzeň,48900.0
45,Nela,Šťastná,728 454 176,83,Liberec,46500.0
46,Heather,Marková,604 404 522,84,Liberec,38600.0
47,Krista,Procházková,+421 50 444 5544,85,Liberec,44200.0
48,Jennifer,Brown,775 545 190,86,Liberec,NaN
49,Ladislava,Blackwell,+421 913 487 200,87,Liberec,49900.0
50,Robert,Macias,+421 49 929 6856,88,Liberec,NaN
51,Dana,Reyes,+421 904 153 942,90,Liberec,41100.0
52,Vasyl,Veselý,603 759 413,92,Liberec,48100.0
53,Randy,Veselý,777 149 125,95,Liberec,31600.0
54,Audrey,Allen,+421 908 839 506,96,Liberec,50200.0
55,Ivan,Bartoš,603 226 051,99,Liberec,NaN

In [49]:
new_tab.groupby("mesto")["plat"].mean()

mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

## Zadání 2

In [57]:
vykazy = pandas.read_csv("vykazy.csv")
vykazy

          date  hours project  emloyee_id
0   2021-02-01    2.5     F30          13
1   2021-02-01    3.4     W05          70
2   2021-02-01    2.1     JL9          72
3   2021-02-01    5.2     F30           3
4   2021-02-01    2.4     TE1          54
5   2021-02-01    4.1     TE1          83
6   2021-02-01    5.4     W05          92
7   2021-02-01    2.2     YLI          34
8   2021-02-01    2.7     YLI          84
9   2021-02-01    4.4     W05          30
10  2021-02-02    5.6     F30          53
11  2021-02-02    2.6     W05          47
12  2021-02-02    2.4     YLI          44
13  2021-02-02    3.1     YLI          40
14  2021-02-02    5.3     YLI          10
15  2021-02-02    3.6     YLI          53
16  2021-02-02    5.6     F30          56
17  2021-02-03    4.0     W05          53
18  2021-02-03    4.6     TE1          86
19  2021-02-03    2.6     F30          18
20  2021-02-03    2.8     TE1          47
21  2021-02-03    2.6     YLI          34
22  2021-02-03    3.7     YLI          96
23  2021-02-03    5.2     W05          57
24  2021-02-03    5.5     W05          40
25  2021-02-03    5.4     YLI          86
26  2021-02-03    2.1     TE1          87

In [51]:
hodiny_na_projektech = vykazy.groupby("project")["hours"].sum()
hodiny_na_projektech

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64

## Bonus 1

In [52]:
nepracuji = new_tab[new_tab["plat"].isna()]
nepracuji["jmeno"].count()

13

In [53]:
nepracuji.to_csv("nepracuji.csv", index=False)

## Bonus 2

In [62]:
vykazy.rename(columns = {"emloyee_id" : "cislo_zamestnance"}, inplace = True)
vykazy

          date  hours project  cislo_zamestnance
0   2021-02-01    2.5     F30                 13
1   2021-02-01    3.4     W05                 70
2   2021-02-01    2.1     JL9                 72
3   2021-02-01    5.2     F30                  3
4   2021-02-01    2.4     TE1                 54
5   2021-02-01    4.1     TE1                 83
6   2021-02-01    5.4     W05                 92
7   2021-02-01    2.2     YLI                 34
8   2021-02-01    2.7     YLI                 84
9   2021-02-01    4.4     W05                 30
10  2021-02-02    5.6     F30                 53
11  2021-02-02    2.6     W05                 47
12  2021-02-02    2.4     YLI                 44
13  2021-02-02    3.1     YLI                 40
14  2021-02-02    5.3     YLI                 10
15  2021-02-02    3.6     YLI                 53
16  2021-02-02    5.6     F30                 56
17  2021-02-03    4.0     W05                 53
18  2021-02-03    4.6     TE1                 86
19  2021-02-03    2.6     F30                 18
20  2021-02-03    2.8     TE1                 47
21  2021-02-03    2.6     YLI                 34
22  2021-02-03    3.7     YLI                 96
23  2021-02-03    5.2     W05                 57
24  2021-02-03    5.5     W05                 40
25  2021-02-03    5.4     YLI                 86
26  2021-02-03    2.1     TE1                 87

In [68]:
zamestnanci_projekty = pandas.merge(new_tab, vykazy, on = "cislo_zamestnance",)
zamestnanci_projekty

#zaroven se tabulka "vycisti" od zamestnancu kteri nepracovali na projektech --> pro cviceni nam staci zaradit pocet hodin do kancelare

,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,mesto,plat,date,hours,project
0,Brian,Hall,+421 949 656 098,30,Praha,33500.0,2021-02-01,4.4,W05
1,Dominika,Kopecká,722 747 626,34,Praha,36800.0,2021-02-01,2.2,YLI
2,Dominika,Kopecká,722 747 626,34,Praha,36800.0,2021-02-03,2.6,YLI
3,Catherine,Bender,604 068 460,40,Praha,32800.0,2021-02-02,3.1,YLI
4,Catherine,Bender,604 068 460,40,Praha,32800.0,2021-02-03,5.5,W05
5,Jeffrey,Šťastný,607 628 821,44,Praha,52000.0,2021-02-02,2.4,YLI
6,Kamila,Říhová,+421 948 396 069,47,Praha,40700.0,2021-02-02,2.6,W05
7,Kamila,Říhová,+421 948 396 069,47,Praha,40700.0,2021-02-03,2.8,TE1
8,Karolína,Short,721 589 083,53,Praha,NaN,2021-02-02,5.6,F30
9,Karolína,Short,721 589 083,53,Praha,NaN,2021-02-02,3.6,YLI
10,Karolína,Short,721 589 083,53,Praha,NaN,2021-02-03,4.0,W05
11,Michelle,Vlčková,+421 41 720 7806,54,Praha,NaN,2021-02-01,2.4,TE1
12,Jeffrey,Pospíšil,+421 55 491 6940,56,Praha,39300.0,2021-02-02,5.6,F30
13,Ladislav,Blažek,+421 910 274 975,57,Praha,36800.0,2021-02-03,5.2,W05
14,Dillon,Black,734 300 978,70,Praha,52600.0,2021-02-01,3.4,W05
15,Robert,Říha,727 351 984,72,Praha,NaN,2021-02-01,2.1,JL9
16,Stacy,Pospíšilová,727 293 880,3,Plzeň,54900.0,2021-02-01,5.2,F30
17,Jindřich,Howell,+421 39 043 0948,10,Plzeň,NaN,2021-02-02,5.3,YLI
18,Alexander,Martinez,721 195 689,13,Plzeň,NaN,2021-02-01,2.5,F30
19,Miroslav,Reed,774 829 074,18,Plzeň,35400.0,2021-02-03,2.6,F30
20,Nela,Šťastná,728 454 176,83,Liberec,46500.0,2021-02-01,4.1,TE1
21,Heather,Marková,604 404 522,84,Liberec,38600.0,2021-02-01,2.7,YLI
22,Jennifer,Brown,775 545 190,86,Liberec,NaN,2021-02-03,4.6,TE1
23,Jennifer,Brown,775 545 190,86,Liberec,NaN,2021-02-03,5.4,YLI
24,Ladislava,Blackwell,+421 913 487 200,87,Liberec,49900.0,2021-02-03,2.1,TE1
25,Vasyl,Veselý,603 759 413,92,Liberec,48100.0,2021-02-01,5.4,W05
26,Audrey,Allen,+421 908 839 506,96,Liberec,50200.0,2021-02-03,3.7,YLI

In [78]:
projekty_praha = (zamestnanci_projekty[zamestnanci_projekty["mesto"] == "Praha"]).groupby("project")["hours"].sum()
print(projekty_praha)

projekty_plzen =(zamestnanci_projekty[zamestnanci_projekty["mesto"] == "Plzeň"]).groupby("project")["hours"].sum()
print(projekty_plzen)

projekty_liberec = (zamestnanci_projekty[zamestnanci_projekty["mesto"] == "Liberec"]).groupby("project")["hours"].sum()
print(projekty_liberec)

project
F30    11.2
JL9     2.1
TE1     5.2
W05    25.1
YLI    13.9
Name: hours, dtype: float64
project
F30    10.3
YLI     5.3
Name: hours, dtype: float64
project
TE1    10.8
W05     5.4
YLI    11.8
Name: hours, dtype: float64